html {
    box-sizing: content-box;
    width: 1900px;
    height: 4150px;
    margin: 0 auto;
}
body {
    background: #FFFFFF;
}
header {
    display: flex;
    height: 70px;
    background: #313131;
}
.header__start {
    display: inline-flex;
}
.header__logo {
    width: 27px;
    height: 27px;
    padding: 22px 27px 21px;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    padding-top: 22px;
    padding-bottom: 22px;

    color: #FFFFFF;
}
.header__menu {
    display: inline-flex;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    padding-left: 472px;
    padding-top: 28px;
    padding-bottom: 26px;

    color: #FFFFFF;
}
.header__list:hover {
    color: #14B9D5;
    transition-duration: 1s;
}
.header__list-home {
    padding-right: 35px;
    transition-duration: 0.5s;
}
.header__list-arch {
    padding-right: 36px;
    transition-duration: 0.5s;
}
.header__list-stra {
    padding-right: 34px;
    transition-duration: 0.5s;
}
.header__list-maga {
    padding-right: 35px;
    transition-duration: 0.5s;
}
.header__list-blog {
    padding-right: 35px;
    transition-duration: 0.5s;
}
.header__list-news {
    padding-right: 445px;
    transition-duration: 0.5s;
}
.header__search {
    width: 68px;
    height: 70px;
    background: #000000;
    transition-duration: 0.5s;
}
.header__search:hover {
    background-color: #14B9D5;
    transition-duration: 1s;
}
.header__search:active {

}
.header__background-block {
    display: flex;
    text-align: center;
    width: 1900px;
    height: 369px;
    background-image: url("../images/backheader.png");
}
h2 {
    position: absolute;
    padding-left: 658px;
    padding-top: 163px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;

    color: #FFFFFF;

}
.header__button_sub {
    display: flex;
    position: absolute;
    width: 170px;
    height: 55px;
    margin-top: 240px;
    margin-left: 797px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    align-items: center;

    color: #FFFFFF;
    background-color: #89CA62;
}
.header__button_text {
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}